*{
    margin: 0px;
    padding: 0px;
}



.logo{
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    transition-delay: 0.2s;

}
.logo:hover{
    transform: rotateZ(10deg)   ;

}


 
@media (min-width:0px) and (max-width: 800px){
    .imgnovidio{
        width: 250.6px;
        height: 150.6px;
   
        position: relative;
        background-color: #ffffff;
                    opacity: 0.3;            

           }
  
    .imgnovidio::before {
        content: "wait for new .....";
        position: absolute;
        width: 196px;
        height: 50px;
        font-family: "Cairo";
    font-size: 20px;
    font-weight: normal;
    line-height: 55px;
    font-style: normal;
    text-align: center;
    justify-content: center;
    color: #000000;
        background-color: transparent;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
           } 
.vidou .SmallMan,
.vidou .BigMan{
    display: none;
}
body{


    width: 100%; 

    height: 100vh;
    background: linear-gradient(-71deg, 
    #37619d 0.00%, 
    #37619d 33.01%, 
    #337ba8 51.77%, 
    #2f94b2 100.00%);
}



}






@media (min-width:0px) and (max-width:380px){


    .ss{
        position: relative;
        /* left: ; */
        /* top: ; */
        
    }
    .BigMan{
        position: absolute;
        left: 270%;
        top: -220%;
    }
    .SmallMan{
        position: relative;
        left: -243%;
        top: -159%;
     } 



    .footer {
        margin-top: 40%;
        margin-right: 1%;
        margin-left: 1%;
    }
    .container{
    
        height: 100vh;
         display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: stretch;
        align-items: center;
        overflow-x: hidden;
        gap: 25px;
     
        
    }
    .logo{
        margin-top: 50px;
    }
    .logosmall{
        width: 160px;
    }
    .text{
        width: 187.9px;
        height: 110.6px;
        font-family: "Cairo";
        font-size: 12px;
        font-weight: normal;
        line-height: 27.706432342529297px;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        margin-top: -23px;
    }
    .vidou{
        margin-top: -10px;
        margin-bottom: 25px;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        height: 150px;
    
    }
    
    video{
        width: 300px;
        height: 150px;
        margin-top: 50px;
    }
    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: -200px;
        
    }
    
    
    
    a{
        text-decoration: none;
        color: #ffffff;
    }
    input:active,
    .witheactive:active{
        color: #ffffff;

    }
    .blueactive:active{
        color: #37629D;

    }
    .respSmallimg{
        width: 170px;
        height: 60px;  
    }
    .margena1{
        margin-top: 8px;
        position: relative;
        background-image: url("/image/Rectangle\ copy\ 2.png");
        background-repeat: no-repeat;
        background-size: 170px;
        width: 170px;
        height: 60px;    
        background-color: transparent;
        border: 0px;
        font-family: "Cairo";
        font-size: 18px;
        font-weight: 900;
        line-height: 27.706432342529297px;
        font-style: normal;
        text-align: center;
        color: #37629D;
    }
    .margena2{
        margin-top: 8px;
        position: relative;
          
    
    
    }
   
    .margena3{
        margin-top: 8px;
        
    position: relative;
    }
    .BigMan::before{
        content: "";
        background-image:url("/image/Layer\ 8.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        background-size:80px;
        position: absolute;
        width: 90px;
        height: 77px;
        left: -8px;
        top: 75px;
    }
    
     
    .SmallMan::before{
        content: "";
        background-image:url("/image/Layer\ 9.png") ;
        background-size: cover;
        background-repeat: no-repeat;
        background-size: 40px;
        position: absolute;
        width: 40px;
        height: 70px;
        left: -2px;
            top: 37px;
    }
    
    
    
    
    
    
    }


@media(min-width: 380px) and (max-width:800px){



    .ss{
        position: relative;
      
    }
    .BigMan{
    position: absolute;
    
    left: 320%;
    top: -223%;
    }
    .SmallMan{
       position: relative;
       left: -290%;
       top: -150%;
    } 


    .footer {
        margin-top: 33%;
        margin-right: 10%;
        margin-left: 10%;
    }
.container{

    height: 100vh;
     display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    align-items: center;
    overflow-x: hidden;
    gap: 25px;
 
    
}
.logo{
    margin-top: 50px;
}
.logosmall{
    width: 160px;
}
.text{
    width: 259.9px;
    height: 110.6px;
    font-family: "Cairo";
    font-size: 12px;
    font-weight: normal;
    line-height: 27.706432342529297px;
    font-style: normal;
    text-align: center;
    color: #ffffff;
    margin-top: -23px;
}
.vidou{
    margin-top: -23px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 150px;

}

video{
    width: 300px;
    height: 150px;
}
.links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -200px;
    
}



a{
    text-decoration: none;
    color: #ffffff;
}
.margena2::before:hover,
.margena2::before:active{
    color: #486894;
}
input:active,
    input:hover,
    .witheactive:active{
        color: #ffffff;

    }
.margena3::before:hover,
.margena3::before:active{
    color: #ffffff;
}
    
    
.respSmallimg{
            width: 200px;
            height: 60px;
        }
.margena1{
    margin-top: 8px;
    position: relative;
    background-image: url("image/Rectangle\ copy\ 2.png");
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 60px;  
    background-color: transparent;
    border: 0px;
    font-family: "Cairo";
    font-size: 18px;
    font-weight: 900;
    line-height: 27.706432342529297px;
    font-style: normal;
    text-align: center;
    color: #37629D;
}
.margena2{
    margin-top: 8px;
    position: relative;
    
    
    
}
.margena3{
    margin-top: 8px;
    
position: relative;
}
.margena3::after{
    content: "";
    width: 35px;
    height: 34px;
    background-image: url("/image/whatsapp.png");
    background-size: 30px;
    background-repeat: no-repeat;
    position: absolute;
  
    top: 45%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    
    


} */

.BigMan::before{
    content: "";
    background-image:url("/image/Layer\ 8.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size:80px;
    position: absolute;
    width: 90px;
    height: 77px;
    left: -8px;
    top: 75px;
}
 
.SmallMan::before{
    content: "";
    background-image:url("/image/Layer\ 9.png") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 40px;
    position: absolute;
    width: 40px;
    height: 70px;
    left: -2px;
        top: 37px;
}






}















   



    @media (min-width:800px){

        .footer {
         position: relative;
        top: 55%; 
      
        transform: translateY(-50%);
        margin-right: 5%;
        margin-left: 5%;
        font-family: "Cairo";
        font-size: 28px;
        font-weight: normal;
        line-height: 55px;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        }
        .imgnovidio{
            width: 567.6px;
            height: 316.6px;
            margin-left: 100px;
            position: relative;
            background-color: #ffffff;
                        opacity: 0.3;            

               }
      
        .imgnovidio::before {
            content: "wait for new .....";
            position: absolute;
            width: 196px;
            height: 50px;
            font-family: "Cairo";
        font-size: 28px;
        font-weight: normal;
        line-height: 55px;
        font-style: normal;
        text-align: center;
        justify-content: center;
        color: #000000;
            background-color: transparent;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
               } 

        

        .margena1:hover{
            transform: translateY(-10%)    ;
        }

        a{
            
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.2s;
            
            
        }
        a:hover{
            transform: translateY(-10%)    ;
        }
        
        
        
        
        
        body{
            width: 100%; 
            height:	120vh;
            background: linear-gradient(280deg, 
            #2f91b0 0.00%, 
            #37619d 100.00%);
        }
        .container{
        
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 31px;
        }
        .logo img{
       display: none;
        }
        
        .logo{
            margin-top: 82px;
            background-image: url("/image/Groupe\ 4\ \(1\).png");
            width: 434px;
            height: 88px;
            }
        .text{
            width: 966px;
            height: 278px;
        font-family: "Cairo";
        font-size: 28px;
        font-weight: normal;
        line-height: 55px;
        font-style: normal;
        text-align: center;
        color: #ffffff;
        }
        .vidou{
            margin-top: -122px;
        
            display: flex;
            justify-content: center;
            align-items: center;
            width: fit-content;
            height: 316.6px;
            position: relative;
        
        }
        
        video{
            width: 567.6px;
            height: 316.6px;
            margin-left: 58px;
        }
        .links{
            display: flex;
             flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            margin-bottom: -300px;
            column-gap:57px;
            
        }
        
        
        
        a{
            text-decoration: none;
            color: #ffffff;
        }
       
       
        .margena1{
            margin-top: 16px;
            position: relative;
            background-image: url("/image/Rectangle\ copy\ 2.png");
            background-repeat: no-repeat;
            width: 245px;
            height: 76px ;        
            background-color: transparent;
            border: 0px;
            font-family: "Cairo";
            font-size: 22px;
            font-weight: 900;
            line-height: 27.706432342529297px;
            font-style: normal;
            text-align: center;
            color: #37629D;
        }
       
        .margena2{
            margin-top: 16px;
            position: relative;
        
        
        }
        .margena2::before{
            width: 168.1px;
            height: 57.7px;
            content: "";
            font-family: "Cairo";
            font-size: 24px;
            font-weight: bold;
            line-height: 32.14220428466797px;
            font-style: normal;
            text-align: center;
            justify-content: center;
             color: #ffffff;
               position: absolute;
            top: 58%;
            left: 55%;
            transform: translateX(-50%) translateY(-50%);
            
        
        }
        .margena2::after{
            content: "";
            background-image: url("/image/telegram.png");
            background-repeat: no-repeat;
            background-size: cover;
            width: 36px;
            height: 34px;
        
            position: absolute;
            top: 45%;
            left: 15%;
            transform: translateX(-50%) translateY(-50%);
        
        }
        .margena3{
            margin-top: 16px;
            
        position: relative;
        }
        .margena3::before{
            content: "";
            width: 170px;
            height: 38px;
                font-family: "Cairo";
                font-size: 12px;
                font-weight: bold;
                line-height: 38.10980224609375px;
                font-style: normal;
                text-align: center;
                color: #37629d;
               position: absolute;
               top: 45%;
               left: 55%;
            transform: translateX(-50%) translateY(-50%);
            
            
        }
        .margena3::after{
            content: "";
            width: 35px;
            height: 34px;
            background-image: url("/image/whatsapp.png");
            position: absolute;
          
            top: 45%;
            left: 14%;
            transform: translateX(-50%) translateY(-50%);
            
            
        }
        .ss{
            display: none;
        }
         .BigMan img{
             display: none;
            }
            .SmallMan img{
                visibility: hidden;
             }
        .vidou .BigMan{
            position: absolute;
            left: 93%;
            top: -41%;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.2s;
           
        }
        .vidou .BigMan:hover{
            transform: translateX(20px);


        }

        .vidou .BigMan::after{
            content: "";
            background-image:url("/image/Layer\ 8\ copy\ \(2\).png") ;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 115.7px;
            height: 398.6px;
            left: 7px;
            top: 83px;
        }
        .vidou .BigMan::before{
            content: "";
            background-image:url("/image/Layer\ 6.png") ;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 244px;
            height: 204px;
            left: -14px;
            top: 279px;
        }
        .vidou .SmallMan{
            position: relative;
            left: -102%;
            top: -50%;
            transition-duration: 1s;
            transition-timing-function: ease-in-out;
            transition-delay: 0.2s;
         } 
         .vidou .SmallMan:hover{
            transform: translateX(-20px);
        }
          
         
        .vidou .SmallMan::before{
            content: "";
            background-image:url("/image/Layer\ 9\ copy\ \(2\).png") ;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 228px; 
            height: 351.9px;
            left: -2px;
            top: 69px;
        }
        .vidou .SmallMan::after{
            content: "";
            background-image:url("/image/Layer\ 7.png") ;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            width: 275px;
            height: 228px;
            left: -34px;
            top: 199px;
        }
        
        
        
        
        
        }
       
/* newwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww */
        @media (min-height:1150px){
            .footer {
            position: relative;
            top: 30%;
            width: fit-content;
            height: fit-content;
            transform: translateY(-50%);
            margin-right: 5%;
            margin-left: 5%;
            font-family: "Cairo";
            font-size: 28px;
            font-weight: normal;
            line-height: 55px;
            font-style: normal;
            text-align: center;
            }
        }




   
